* {
  box-sizing: border-box;
  /*box-shadow: 1px 1px 3px #292929; *//*debug*/
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
html {
  height:100%;
}
.input-block__label, .input-block__input, .input-block__form {
  display: block;
  margin-bottom: 0.2rem;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}
.container {
  width: 960px;
  margin: 0 auto;
}

.header, .article-block {
  background-color: #95a5a6;
  color: #2c3e50;
}

.main-block, .input-block {
  background-color: #fae8d9;
  color: #2c3e50;
}

.header .container {
  background-color: #95a5a6;
  color: #2c3e50;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display:flex;
}

.header__menu  a {
  font-size: 1.3rem;
  color: inherit;
  text-decoration: none;
  margin-right: 100px;
}

.header__menu  a:hover {
  text-shadow: 0 0 4px #fae8d9,
  0 10px 4px #fae8d9,
  2px 5px 6px #ffffff,
  -2px -5px 11px #fae8d9,
  2px -5px 18px #fae8d9;
}

.header__logo {
  margin-left: 20px;
  display:flex;
  align-items: center;
}

.main-block .container {
  background-color: #fae8d9;
  color:#2c3e50;
  margin: 0 auto;
  height: 20rem;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.main-block__img {
  padding-top: 0.5rem;
}

.article-block .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-align:center;
}

.article-block__web-dev, .article-block__mob-dev, .article-block__highload {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #95a5a6;
  color: #2c3e50;
  padding: 20px;
  flex: 1 ;
}

.article-block__awesome-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fae8d9;
  color: #2c3e50;
}

.input-block .container {
  text-align:left;
  padding-left: 1rem;
  background-color: #fae8d9;
  color:#2c3e50;
}

.input-block__headline {
  margin: 0 auto 20px auto;
  padding-top: 20px;
}

 input[type="submit"], input[type="range"]
 input[type="radio"], input[type="button"],
 input[type="reset"], input[type="checkbox"],
 input[type="file"], input[type="color"] {
  cursor: pointer;
}
input[type="image"] {
  width: 5rem;
}
.btn {
  font-size: 1rem;
  outline: none;
  background-color: #95a5a6;
  color: #2c3e50;
  cursor: pointer;
  border: 2px solid transparent;
}

.btn:hover {
  border: 2px solid #2c3e50;
}

.btn:active {
  border: 2px solid #2c3e50;
  color: #95a5a6;
  background-color: #2c3e50;
  outline: none;
}
