.form__input--invalid {
  color: red;
}
.form__input--valid {
  color: black;
}
.btn--unvisible {
  visibility: hidden;
}
.btn-visible {
  visibility: visible;
}
.black-cell {
  width: 10vw;
  height: 1vh;
  background-color: black;
  color: black;
  border: 1px solid blue ;
}
.white-cell {
  width: 3vw;
  height: 1vh;
  background-color: white;
  color: white;
  border: 1px solid blue;
}
.row {
  display:inline;
}
.col {
  display:block;
}

#chess-board-form__result-title {
  display:block;
}
.links-form {
  color: black;
}